<html>

    <body>
        <form action="/student">
            <label for="github">Enter github id</label>
            <input type="text" name = "github" />
            <input type="submit">
        </form>

        <form action="/new_student">
            <label for="firstname">Enter new student First Name</label>
            <input type="text" name="firstname"><br>
            <label for="lastname">Enter new student Last Name</label>
            <input type="text" name="lastname"><br>
            <label for="github">Enter new student Github</label>
            <input type="text" name="github"></br>
            <input type="submit">
        </form>

        <form action="/new_project">
            <label for="project_title">Enter new project title</label>
            <input type="text" name="project_title"><br>
            <label for="description">Enter new project description</label>
            <input type="text" name="description"><br>
            <label for="max_grade">Enter new project max grade</label>
            <input type="text" name="max_grade"><br>
            <input type="submit">
        </form>

    </body>

</html>