<html>
   <head>
        <link rel="stylesheet" type="text/css" media="all" href="/static/hackbright_app.css"/>
        <title>Project information for {{title}}</title>
    </head>

    <body>

        <h1>{{title}}</h1>

        <h2>{{description}}</h2>

        <p>Maximum Grade: {{max_grade}}</p>


            <ul>
                {% for item in student_grades %}
                <li><a href = "/student?github={{item[0]}}">{{item[0]}}</a> : {{item[2]}}</li>
                {% endfor %}
            </ul>
    </body>
</html>